.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 1200px;
  margin: 50px auto;
  padding: 0 16px;
}

.inner {
  width: 1200px;
  margin: 0 auto;
  height: 60px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #eee;

  h1 {
    font-size: 26px;
  }
}

ul.song_list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  li {
    display: flex;
    align-items: center;
    gap: 16px;

    .thumb {
      width: 50px;
      height: 50px;

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 100%;
      }
    }

    .title {
      flex: 2;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .singer {
      flex: 1;
    }

    .text {
      flex: 4;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .btns {
      display: flex;
      gap: 4px;
    }
  }
}

.song_box {
  display: flex;
  flex-direction: column;
  gap: 60px;

  .title_area {
    text-align: center;
    font-size: 24px;
    font-family: serif;
    font-weight: bold;

    p {
      margin-top: 30px;
      font-size: 16px;
    }
  }
}

.song_contents {
  display: flex;
  gap: 48px;

  .left_input {
    width: 560px;
    .image img {
      width: 300px;
    }
  }

  .right {
    width: 580px;

    .text {
      line-height: 1.8;
    }

    button {
      margin-top: 100px;
    }
  }

  .left_input,
  .right_input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;

    .do_write {
      margin-top: 100px;
    }
  }
}

footer {
  margin-top: auto;
  border-top: 1px solid #ddd;
  background-color: #eee;
  font-size: 14px;
  color: #333;

  .copyright {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .info_btn {
    font-size: 24px;

    &:hover {
      color: #2563eb;
    }
  }
}

.btn_area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.write_btn {
  border: 1px solid #3b82f6;
  background-color: transparent;
  color: #2563eb;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: #3b82f6;
    color: #fff;
  }
}
